<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>京大学生市場</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- site icons -->
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.min.css') }}">
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='responsive.css') }}">
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='colors.css') }}">
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='animate.css') }}">
   </head>
   <body id="default_theme" class="team">
      <!-- header -->
      <header class="header header_style1">
         <div class="container">
            <div class="row">
               <div class="col-md-9 col-lg-10">
                  <div class="logo"><a href="/"><img src="../static/images/logo.png" alt="#" /></a></div>
                  <div class="main_menu float-right">
                     <div class="menu">
                        <ul class="clearfix">
                           <li class="active"><a href="/">Home</a></li>
                           <li><a href="../#使い方">使い方</a></li>
                           <li><a href="../#line">Line@</a></li>
                           <li><a href="../team.html">Team</a></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </header><br>
      <div style="text-align:center;">
      <!-- end header -->
      {% block content %}
<!-- ここにメインコンテンツを書く -->
	  {% endblock %}
	  </div>
      
      <!--=========== js section ===========-->
      <!-- jQuery (necessary for Bootstrap's JavaScript) -->
      <script type=text/javascript src="{{ url_for('static', filename='jquery.min.js') }}"></script>
      <script type=text/javascript src="{{ url_for('static', filename='popper.min.js') }}"></script>
      <script type=text/javascript src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
      <script type=text/javascript src="{{ url_for('static', filename='wow.js') }}"></script>
      <script type=text/javascript src="{{ url_for('static', filename='custom.js') }}"></script>
   </body>
</html>