<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>京大学生市場</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- site icons -->
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.min.css') }}">
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='responsive.css') }}">
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='colors.css') }}">
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='animate.css') }}">
   </head>
   <body id="default_theme" class="team">
      <!-- header -->
      <header class="header header_style1">
         <div class="container">
            <div class="row">
               <div class="col-md-9 col-lg-10">
                  <div class="logo"><a href="/"><img src="static/images/logo.png" alt="#" /></a></div>
                  <div class="main_menu float-right">
                     <div class="menu">
                        <ul class="clearfix">
                           <li class="active"><a href="/">Home</a></li>
                           <li><a href="/#使い方">使い方</a></li>
                           <li><a href="/#line">Line@</a></li>
                           <li><a href="team.html">Team</a></li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="col-md-3 col-lg-2">
                  <div class="right_bt"><a class="bt_main" href="/">Contact Us</a> </div>
               </div>
            </div>
         </div>
      </header>
      <section id="banner_parallax" class="slide_banner1">
         <div class="container">
            <div class="row">
               <div class="col-md-6">
                  <div class="full">
                     <div class="slide_cont">
                        <h2>京大生だけの</h2>
                        <h2>再活用</h2>
                        <h2>プラットフォーム</h2>
                        <!-- <div class="full slide_bt"> <a class="white_bt bt_main" href="/">Download</a> </div>
                        <div class="full slide_bt"> <a class="white_bt bt_main" href="/">Download</a> </div>
                        <div class="full slide_bt"> <a class="white_bt bt_main" href="/">Download</a> </div> -->
                     </div>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="full">
                     <div class="slide_pc_img wow fadeInRight" data-wow-delay="1s" data-wow-duration="2s"> <img src="static/images/pc-banner.png" alt="#" /> </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- end header -->
      <!-- section -->
      <section class="layout_padding">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="full text_align_center">
          <div class="heading_main center_head_border heading_style_1">
            <h2>Our <span>Team</span></h2>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
        <div class="full team_blog">
          <div class="team_member_img"><img src="static/images/t1.png" alt="#"></div>
          <div class="team_imform">
            <p class="team_mem_name">齊藤　学</p>
            <p>京都大学工学部物理工学科</p>
            <p>機械システム学コース</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
        <div class="full team_blog">
          <div class="team_member_img"><img src="static/images/t2.png" alt="#"></div>
          <div class="team_imform">
            <p class="team_mem_name">小幡　祐輝</p>
            <p>京都大学法学部</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
      <!-- end section -->
      
      <!--=========== js section ===========-->
      <!-- jQuery (necessary for Bootstrap's JavaScript) -->
      <script type=text/javascript src="{{ url_for('static', filename='jquery.min.js') }}"></script>
      <script type=text/javascript src="{{ url_for('static', filename='popper.min.js') }}"></script>
      <script type=text/javascript src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
      <script type=text/javascript src="{{ url_for('static', filename='wow.js') }}"></script>
      <script type=text/javascript src="{{ url_for('static', filename='custom.js') }}"></script>
   </body>
</html>